---
layout: page
title: About
permalink: /about/
priority: 0.9

intro: |

  Hi, I'm Sage. I'm a recent PhD graduate from the the Complex Systems and Data Science program at the
  University of Vermont.
  
  I am currently still a member of the Hugh Garavan lab, which focuses on the 
  analysis of human neuroimaging data, but have a broad range
  of interests beyond medical imaging analyses to both general Computer Science and Data Science.
  My under-graduate was in Computer Science and as such I have always had an intrest
  and a focus in both the practical aspects of writting
  software / code as well as the theoretical side. A discrete focus on my time in the PhD program has
  been in producing, maintaining and contributing to software packages designed broadly
  for neuroimaging analyses.
  
  Please checkout [my projects page](https://sagehahn.com/) and/or
  my [github](https://github.com/sahahn/).
  
  You can also check out my [resume](https://sagehahn.com/images/resources/resume.pdf).


profile_picture: /images/profile-pictures/profile.jpg

work:
  - course: Researcher - Garavan Neuroimaging Lab
    place: Performed data analysis on large collections of high dimensional human
      neuroimaging data with an emphasis on methods related to machine learning,
      time-series and network analysis, data visualization and statistical modeling.
      Performed analysis and data processing within cloud-based high performance
      computing environments. Further, designed and maintained numerous machine
      learning, data visualization and neuroimaging specific software packages.
      Also, contributed to existing open-source community driven software.
      Assisted colleagues with general software engineering support and data analysis support.
      Collaborated locally, regionally and globally in publishing
      research articles (20+ publications, 176 citations, h-index=8).
      (2019-2022)
    period: 2022

  - course: Machine Learning Engineer - UVM Medical Center
    place: Implemented deep learning computer vision algorithms for varied specialized
      medical diagnostic systems. Designed complete segmentation and prediction workflows,
      from data collection and labeling to inference. Collaborated closely with experts
      across disparate specialities and technical backgrounds, resulting in publications
      in relevant academic journals.
      (2018-2019)
    period: 2018

  - course: Software Engineer - SelfieCause
    place: Worked at startup, where I integrated mobile iOS applications in
      Swift with a RedShift database. Also implemented
      various web-crawling data scrapers for company specific dataset creation.
      (2018-2018)

education:
  - course: PhD in Complex Systems & Data Science
    place: University of Vermont (2018-2022)
    period: 2022

  - course: BA in Computer Science
    place: University of Vermont (2013-2018)
    period: 2018

skills:
  - Data Science
  - Machine Learning
  - Computer Vision
  - Software Engineering
  - Neuroimaging Analysis
  - Data Wrangling & Viz
  - Statistics

---

<script type="application/ld+json">
  {
    "@context": "http://schema.org/",
    "@type": "Person",
    "name": "Sage Hahn",
    "jobTitle": "Programmer",
    "nationality": "American",
    "url": "http://www.sagehahn.com/",
  }
</script>

<div class="about-wrapper">
  <div class="about">
    <div class="about-intro-image">
      <img src="{{ page.profile_picture }}" alt="">
    </div>

    <div class="about-intro-description paragraph-normal">
      {{ page.intro | markdownify }}
    </div>

    <div class="about-attributes">

      <div class="about-work">
        <div class="about-section">
          <h3 class="about-section-title type-level-2">Work</h3>
          <dl class="relational-list">
            {% for work-item in page.work %}
              <dt class="relational-list__title">{{ work-item.course | markdownify}}</dt>
              <dd class="relational-list__description">{{ work-item.place | markdownify}}</dd>
            {% endfor %}
          </dl>
        </div>
      </div>

      <div class="about-education">
        <div class="about-section">
          <h3 class="about-section-title type-level-2">Education</h3>
          <dl class="relational-list">
            {% for education-item in page.education %}
              <dt class="relational-list__title">{{ education-item.course | markdownify}}</dt>
              <dd class="relational-list__description">{{ education-item.place | markdownify}}</dd>
            {% endfor %}
          </dl>
        </div>
      </div>

      <div class="about-skills">
        <div class="about-section">
          <h3 class="about-section-title type-level-2">Areas of Interest</h3>
          <ul class="list--dashed">
            {% for skill in page.skills %}
              <li>{{ skill }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>


    </div>

  </div>
</div>
