---
layout: page
title: About
permalink: /about/
priority: 0.9

intro: |

  Hi, I'm Sage. I'm currently a PhD student at the University of Vermont in the Complex Systems and Data Science program.
  I am currently a member of the Hugh Garavan lab, which focused on the analysis of human neuroimaging data, but have a broad range
  of interests beyond medical imaging analyses to both general Computer Science and Data Science.
  
  In particular, my under-graduate was in Computer Science and as such I have always had an intrest
  and a focus in both the practical aspects of writting
  software / code as well as the theoretical side. A discrete focus on my time in the PhD program has
  been in producing, maintaining and contributing to software packages designed broadly for neuroimaging analyses. Please
  see [my projects page](/projects) and/or my [github](https://github.com/sahahn/) for more information.


profile_picture: /images/profile-pictures/profile.jpg


work:
  - course: Graduate Research Assistant
    place: Full time graduate research assistant in the Hugh Garavan neuroimaging lab through the Vermont Complex Systems Center (2019-2022)
    period: 2022

  - course: BA in Computer Science
    place: Summer position working on various deep learning applications for radiology, in conjunction with the UVM Computer Science Department and the Cardiology and Radiology Departments at the University of Vermont Medical Center.
    period: 2018


education:
  - course: PhD in Complex Systems & Data Science
    place: University of Vermont (2018-2022)
    period: 2022

  - course: BA in Computer Science
    place: University of Vermont (2013-2018)
    period: 2018

skills:
  - Data Science
  - Machine Learning
  - Neuroimaging Analysis
  - Mandarin
  - Python
  - C++
  - Javascript
  - Docker
  - Slurm  
---

<script type="application/ld+json">
  {
    "@context": "http://schema.org/",
    "@type": "Person",
    "name": "Sage Hahn",
    "jobTitle": "Programmer",
    "nationality": "American",
    "url": "http://www.sagehahn.com/",
  }
</script>

<div class="about-wrapper">
  <div class="about">
    <div class="about-intro-image">
      <img src="{{ page.profile_picture }}" alt="">
    </div>

    <div class="about-intro-description paragraph-normal">
      {{ page.intro | markdownify }}
    </div>

    <div class="about-attributes">

      <div class="about-work">
        <div class="about-section">
          <h3 class="about-section-title type-level-2">Work</h3>
          <dl class="relational-list">
            {% for work-item in page.work %}
              <dt class="relational-list__title">{{ work-item.course | markdownify}}</dt>
              <dd class="relational-list__description">{{ work-item.place | markdownify}}</dd>
            {% endfor %}
          </dl>
        </div>
      </div>

      <div class="about-education">
        <div class="about-section">
          <h3 class="about-section-title type-level-2">Education</h3>
          <dl class="relational-list">
            {% for education-item in page.education %}
              <dt class="relational-list__title">{{ education-item.course | markdownify}}</dt>
              <dd class="relational-list__description">{{ education-item.place | markdownify}}</dd>
            {% endfor %}
          </dl>
        </div>
      </div>

      <div class="about-skills">
        <div class="about-section">
          <h3 class="about-section-title type-level-2">Skills</h3>
          <ul class="list--dashed">
            {% for skill in page.skills %}
              <li>{{ skill }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>


    </div>

  </div>
</div>
